.login-button a {
  text-decoration: none;
  color: #000;
  font-variant: small-caps;
}

.login-button a span {
  font-size: 20px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 24px;
  vertical-align: top;
}

.view-image {
  position: absolute;
  width: 128px;
  height: 128px;
  right: -92px;
}