extend layout
block head
  link(rel='stylesheet', href='/css/editdoc.css')
  script(type="text/javascript",src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/ckeditor.js")
  script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js")
  script(type="text/javascript",src="//cdn.jsdelivr.net/jshash/2.2/md5-min.js")
  script(type="text/javascript",src="/scripts/diffxml-js/diffxml-js.js")
  script(type="text/javascript",src="/scripts/collaborators.js")
  script(type="text/javascript",src="/editdoc.js")
block header
  div(class="index-container")
    a(href="/")
      |Index
  div(class="about-container")
    a(href="/about")
      |About
block content
  div(class="editor-header")
    span(class="editor-status")
      |Initializing...
    h2
      span
        |#{title}
  p(class="info-text")
    |You can edit this document with your friends
  div(class="editor")
    div(id="title-container")
      input(type="text", name="name", value="#{file.properties.title}")
    div(id="ckcontainer")
  div(class="collaborators")