extend layout
block head
  link(rel='stylesheet', href='/css/login.css')
block header
  div(class="about-container")
    a(href="/about")
      |About
block content
  img(src="/gfx/login-required.png",class="view-image") 
  h2 
    |Login Required
  p(class="info-text")
    |CoOPS requires that you identify your self, please use one of the services listed below
  div(class="login-button")
    if facebook
      if redirectUrl
        a(href="/auth/facebook?redirectUrl=#{redirectUrl}")
          img(src="/gfx/login-facebook.png")
          span
            |Login with Facebook
      else
        a(href="/auth/facebook")
          img(src="/gfx/login-facebook.png")
          span
            |Login with Facebook
  div(class="login-button")
    if google
      if redirectUrl
        a(href="/auth/google?redirectUrl=#{redirectUrl}")
          img(src="/gfx/login-google.png")
          span
            |Login with Google
      else
        a(href="/auth/google")
          img(src="/gfx/login-google.png")
          span
            |Login with Google
  div(class="login-button")
    if github
      if redirectUrl
        a(href="/auth/github?redirectUrl=#{redirectUrl}")
          img(src="/gfx/login-github.png")
          span
            | Login with GitHub
      else
        a(href="/auth/github")
          img(src="/gfx/login-github.png")
          span
            | Login with GitHub