body {
  font-family: Gadget;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: normal;
  font-variant: small-caps; 
}

.container {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 20px;
  min-height: 800px;
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 23%, rgba(225, 225, 225, 1) 79%, rgba(246, 246, 246, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(23%, rgba(241, 241, 241, 1)), color-stop(79%, rgba(225, 225, 225, 1)), color-stop(100%, rgba(246, 246, 246, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 23%, rgba(225, 225, 225, 1) 79%, rgba(246, 246, 246, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 23%, rgba(225, 225, 225, 1) 79%, rgba(246, 246, 246, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 23%, rgba(225, 225, 225, 1) 79%, rgba(246, 246, 246, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 23%, rgba(225, 225, 225, 1) 79%, rgba(246, 246, 246, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0); /* IE6-9 */
}

.content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 5px;
  padding: 5px;
}

form > div {
  min-height: 25px;
}

form > div > label {
    display: inline-block;
    min-width: 200px;
}

form > div > input[type="text"] {
  min-width: 250px;   
}

form input[type="submit"] {
  margin-top: 8px;
}

.list, form {
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 200px;
}

.list-item {
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.list-item:hover {
	border: 1px solid #d49768;
	background-color: #cb842e;   
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 3px;
  margin-left: -4px;
  margin-right: -4px;
  color: #fff;
}

.list-action {
  float: right;
  margin-right: 4px;
  margin-left: 4px;
  min-width: 60px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  height: 13px;
}

.back-link-container {
  margin-bottom: 16px;
  margin-top: -8px;
}

.view-image {
  position: absolute;
  width: 128px;
  height: 128px;
  right: -92px;
}

.info-text {
  color: #444;
  font-style: italic;
  margin-right: 200px;
}

.view-tool img {
  vertical-align: middle;
  padding-right: 4px;
}

.login-button a {
  text-decoration: none;
  color: #000;
  font-variant: small-caps;
}

.login-button a span {
  font-size: 20px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 24px;
  vertical-align: top;
}

.header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  padding: 4px;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(192, 192, 192, 0.2);
  font-size: 14px;
}

.about-container, .index-container {
  float: left;
  margin-left: 2px;
  margin-right: 8px;
}

.login-info {
  float: right;
}

.about-container a, .index-container a, .login-info a {
  font-variant: small-caps;   
}

.footer {
  display: none;
}

/* Edit View */

.editor-status:before {
  content: ' - ';
}

.editor-status {
  font-size: 14px;
  vertical-align: middle;
}

.collaborators-button {
  border: 1px outset #aaa;
  padding: 4px;
  background: #fefefe;
  position: absolute;
  right: 2px;
  top: 28px;
  cursor: pointer;
  border-radius: 3px;
}

#collaborators-dialog .collaborators-dialog-title {
  margin: 3px;
  size: 105%;
}

.collaborators-dialog-users-container {
  overflow: auto;
  overflow-y: scroll;
  height: 136px;
}

#collaborators-dialog #collaborators-select {
  width: 100%;
}

#collaborators-dialog td {
  white-space: nowrap;
}

#collaborators-dialog td:first-child {
  width: 360px;
  max-width: 360px;
}

#collaborators-dialog td:last-child {
  text-align: right;
}

#collaborators-dialog td:last-child select {
  width: 120px;
}

/* Dialogs */

.dialog {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  padding: 8px;
  border-radius: 4px;
  min-width: 400px;
  box-shadow: 0px 0px 8px rgba(80, 80, 80, 0.5);
}

.dialog h3 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 16px; 
}

.dialog-field label {
  display: block;
}

.dialog-field input {
  width: 100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.dialog-buttons {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px dotted #aaa;
  text-align: right;
}

.dialog-buttons input[type="submit"] {
  margin-left: 4px;
  border: 1px solid #000;
}

.ck-viewer, .ck-revision-viewer {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border: 1px solid #aaa;
}

/* CKEditor History */
table.file-history-table {
  width: 100%;
}

table.file-history-table tr td {
  text-align: center;
}
