@import "compass/css3";
@import "fonts.scss";

$transparent-background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==");
$toolbar-width: 60px;
$toolbar-height: 400px;
$toolbar-background: #000;
$toolbar-border-radius: 10px;
$toolbar-icon-color: #6af;
$toolbar-icon-color-selected: #6fa;
$toolbar-button-width: 48px;
$toolbar-button-margin: 5px;
$paintbar-width: 60px;
$paintbar-button-width: 48px;
$paintbar-button-height: 48px;
$paintbar-button-border: 1px solid #fff;
$paintbar-button-border-radius: 5px;
$paintbar-button-margin: 5px;

.co-illusionist {
  position: relative;
}

.co-illusionist-screen {
  cursor: crosshair;
  border: 1px dotted rgba(100, 100, 100, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  background: $transparent-background;
}

.co-illusionist-toolbar {
  position: absolute;
  width: $toolbar-width;
  height: $toolbar-height;
  background: $toolbar-background;
  margin-left: -$toolbar-width;
  border-top-left-radius: $toolbar-border-radius;
  border-bottom-left-radius: $toolbar-border-radius;
  top: 0px; 
}

.co-illusionist-tool {
  @extend [class^="icon-"];
  background: #333;
  width: $toolbar-button-width;
  border-radius: 10px;
  margin: $toolbar-button-margin;
  text-align: center;
  font-size: 24px;
  color: $toolbar-icon-color;
  border: 1px solid #222;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.co-illusionist-tool-selected {
  color: $toolbar-icon-color-selected;
}

.co-illusionist-tool:hover {
  background: #444;
  border: 1px solid #333;
}

.co-illusionist-tool-load:before {
  @extend .icon-folder-open:before;
}

.co-illusionist-tool-pencil:before {
  @extend .icon-pencil:before;
}

.co-illusionist-tool-select-rect:before {
  @extend .icon-rect-select:before;
}

.co-illusionist-tool-filter:before {
  @extend .icon-wand:before;
}

.co-illusionist-paintbar {
  position: absolute;
  width: $paintbar-width;
  background: #000;
  margin-left: -$toolbar-width;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 410px;
  text-align: center;
}

.co-illusionist-paintbar-button-container {
  background-image: $transparent-background;
  width: $paintbar-button-width;
  height: $paintbar-button-height;
  border: $paintbar-button-border;
  border-radius: $paintbar-button-border-radius;
  display: inline-block;
  vertical-align: top;
  margin: $paintbar-button-margin;
  position: relative;
}

.co-illusionist-paintbar-button-container:last-child {
  margin-top: 0px;
}

.co-illusionist-paintbar-button {
  cursor: pointer;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: $paintbar-button-border-radius;
}

.ui-dialog * {
  font-family: Gadget;
  font-size: 12px;
  font-variant: small-caps;
}

.ui-dialog .ui-dialog-buttonpane {
  padding: 0px;
}

.co-illusionist-paintdialog.ui-dialog-content {
  padding: 0px;
  margin: 0px;
}

.co-illusionist-paintdialog .ui-tabs-nav.ui-widget-header {
  background: none;
  border: none;
}

.co-illusionist-paintdialog .ui-tabs-panel {
  background: #fff;
  border: 1px solid #aaa;
  margin-left: 2px;
}

.co-illusionist-paintdialog .sp-container {
  border: none;
  background: none;
  height: 164px;
  overflow: hidden;
}

.co-illusionist-paintdialog .sp-picker-container {
  padding-left: 0px;
  padding-top: 0px;
}

.co-illusionist-paintdialog .co-illusionist-paintdialog-preview {
  display: block;
  width: 60px;
  height: 40px;
  position: absolute;
  top: 47px;
  right: 20px;
  border: 1px solid #000;
  background-image: $transparent-background;
}

.co-illusionist-paintdialog-preview span {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.co-illusionist-paintdialog-patterns {
  overflow-y: scroll;
  max-height: 168px;
}

.co-illusionist-paintdialog-pattern {
  display: inline-block;
  margin: 5px;
  width: 32px;
  height: 32px;
  text-align: center;
}

.co-illusionist-paintdialog-pattern img {
  max-width: 32px;
  max-height: 32px;
  vertical-align: middle; 
  cursor: pointer;
}

.co-illusionist-tool-filter-dialog label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}

.co-illusionist-tool-filter-dialog select {
  display: block; 
}

.co-illusionist-tool-load-dialog label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}

.co-illusionist-tool-load-dialog input[name="url"] {
  display: block; 
  width: 100%;
  @include box-sizing(border-box); 
}